@charset utf-8

.footer{
    background-color: #8A2BE2;
    clear: both;
    display:block;
    height: 5%; 
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

.titulo{
    width: 100%;
    height: 8%;
    position: relative;
    padding-left: 5%;
    margin-top: 30%;
            
}
        
#cabecalho h1{
    font-family: Verdana sans-serif;
    font-size: 25px;
    font-style: normal;

}

section#corpo{
    height: 900px;
}

section#corpoPrincipal{
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.card-deck{
    
}

div#cartao1{
    height: 400px;
    width: 350px;
    top:90px;
    border-width: 2px;
    border-style: solid;
    border-color:#E6E6FA;
}
        
div#cartao2{
    height: 400px;
    width: 350px;
    top:90px;
    border-width: 2px;
    border-style: solid;
    border-color:#E6E6FA;
    
}

div#cartao3{
    height: 400px;
    width: 350px;
    top:90px;
    border-width: 2px;
    border-style: solid;
    border-color:#E6E6FA;

}
        
.container{
    margin-left: auto;
    margin-right: auto;
}

#cardRec{
    height: 50%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
}

#cardDesp{
    height: 50%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
}

#cardMeta{
    height: 50%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;

    }

section#corpoPrincipal a{
    background-color: #943cc6;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;
}


#botao1{
    color:white;
    background-color:#9370DB;
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

#botao2{
    color: white;
    background-color:#9370DB;
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

#botao3{
    color: white;
    background-color: #9370DB;
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

#modalLongTitle{
    margin-right: 177px;
}